matplotlib>=3.10.8
scipy>=1.17.1
xarray>=2026.4.0
pyyaml>=6.0.3
pint>=0.25.3
metpy>=1.7.1
pandas>=3.0.2
lxml>=6.0.4
PyMySQL>=1.1.3
numpy>=2.4.3
netcdf4>=1.7.4
pytest>=9.0.3
python-dateutil>=2.9.0.post0
imageio>=2.37.0
imutils>=0.5.4
opencv-python>=4.13.0
