matplotlib==3.10.0
scipy==1.15.1
plotly==6.0.0
xarray==2025.1.2
pyyaml==6.0.2
kaleido==0.2.1
pint==0.24.4
metpy==1.6.3
pandas==2.2.3
lxml==5.3.0
PyMySQL>=1.1.1
numpy==2.2.2
netcdf4==1.7.2
pytest==8.3.4
python-dateutil==2.9.0.post0
imageio==2.37.0
imutils==0.5.4
scikit-image==0.25.1
opencv-python>=4.10.0
