<web-app xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html"
         xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html
         http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html/web-app_3_0.xsd"
         version="3.0">
    <display-name>METviewer</display-name>
    <description>METviewer</description>
    <!-- Define servlets that are included in the example application -->
    <servlet>
        <servlet-name>MvServlet</servlet-name>
        <servlet-class>edu.ucar.metviewer.MVServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MvServlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
           <servlet-name>MvServlet</servlet-name>
   		<url-pattern>/download/*</url-pattern>
       </servlet-mapping>

</web-app>
