body, html {
	margin: 0px;
	padding: 0px;
}
body { 
	background-color: #ffffff; 
	color: #222266;
	font-family: verdana;
	font-size: 12px;
}
h1 {
	color: #002866;
	font-family: courier;
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	padding-left: 5px;
}		
h2 {
	color: #002866;
	font-family: verdana;
	font-size: 20px;
	font-weight: normal;
	padding-left: 10px;
	text-decoration: none;
}
h3 {
   padding-left: 10px;
}
p {
	padding-left: 20px;
	padding-right: 20px;
}
a {
	color: #0066ff;
	/* font-family: courier; */
	font-size: 12px;
	/* font-weight: bold; */
	text-decoration: none;
}
a.loc { color: #0066ff; font-size: 10px; }
a.toc { color: #0066ff; font-size: 14px; font-weight: bold; }

b {
	color: #7f7f7f;
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
}
b.tag  { color: #0066ff; }
b.inst { color: #0066ff; font-size: 14px; }

li {
	list-style-position: inside;
	list-style-type: circle;
}
li.inst     { list-style-type: decimal;     }
li.inst_sub { list-style-type: lower-alpha; }

th {
	background-color: #dddddd;
} 
td {
	background-color: #ffffff; 
	color: #222266;
	font-family: verdana;
	font-size: 11px;
}
td.header {
	color: #002866;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
}
.code {
	color: #0066ff;
	font-family: courier;
	font-size: 14px;
	font-weight: bold;
}
.term {
	color: #7f7f7f;
	font-family: courier;
	font-size: 14px;
	font-weight: bold;
}
.loc {
	color: #7f7f7f;
	font-family: verdana;
	font-size: 10px;
}
.opt {
	color: #ddbb00;
	font-family: verdana;
	font-size: 10px;
}
