<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/opt/vxwww/tomcat/logs/mvservlet.log"
                     filePattern="/opt/vxwww/tomcat/logs/mvservlet-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%p %c{1} %d{MM-dd-yyyy HH:mm} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>