<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:251802877. -->
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="appLog" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%L}{blue}] [%style{%M}{bright,blue}] %style{%C{1.}}{bright,yellow} %style{METviewer}{bright,green} %style{[%X{hostName}]}{bright,red} %msg%n%throwable%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info"  includeLocation="true">
            <AppenderRef ref="appLog" />
        </Root>

    </Loggers>

</Configuration>
